@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    background-color: #f1f1f1;
    margin-top: none;
}
.navbar{
    display: flex;
    background-color: white;
    padding: 15px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    align-items: center;
    justify-content: space-between;
}
.searchbar{
    display: flex;
    align-items: right;
    background-color: #d3d3d3;
    border-radius: 20px;
    padding: 4px;
}
.inputsearch{
    outline: none;
    border: none;
    background-color: #d3d3d3;
}


.horizontal-cards{
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
}
.card{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    border-radius: 10px;
    min-width: 250px;
    background-color: #ffffff;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.062);
}
.cardinfo{
    margin: 16px;
}
.emoji{
    width: 50px;
}
h2{
    font-size: 14px;
    font-weight: 400;
}
p{
    color: rgb(82, 107, 50);
    font-weight: 700;
    font-size: 24px;
    margin-top: -6px;
}
.dashboard{
    border-radius: 10px;
    padding: 20px;
}
.list{
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.267);
    background-color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px 10px;
    width: 100%;
}
.topo{
    color: black;
    font-size: 18px;
    font-weight: 500;
}
.bodylist{
    color: rgb(48, 48, 48);
    background-color: white;
}
.iconbox{
    background-color: rgb(82, 107, 50);
    padding: 20px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}
.icon{
    width: 32px;
    filter: invert(100%);
}
.accept{
    outline: none;
    border: none;
    border-radius: 6px;
}
button:hover {
    cursor: pointer;
}
.bem{
    margin-left: 60px;
    text-align: center;
    color: #546625;
}